/* color palette reference https://colorhunt.co/palette/158462 */
p, span, body {
		color:yellow;
}
a {
	font-size: 20px;
	font-family: serif;
	color: #34ebc9;
	font-family: 'Hepta Slab', serif;
	text-decoration: none;
	padding: 0px 10px;
}

.top-panel {

	text-align: left;
	width: 95%;
	margin-bottom: 10px;
	border: 4px double #ff4d00;
	height: 30px;
}

.top-panel .clock {
	float:right;
	margin: 0 40px 0 0;
}

#bottom{
	width: 100%;
	height: vh;
	display: -webkit-flex; /*now works on safari*/
}

.left{
	display: inline-block;
	height: 500px;
	width: 20%;
	border: 7px inset #ff4d00;
	background-color: #413f41;
}

.middle{
	display: inline-block;
	height: 696px;
	width: 1030px;
	border: 7px outset grey;
	background-image: url("../images/buildingblueprint.png");
	background-repeat: no-repeat;
	background-attachment: relative;
	background-position: center;
}

.right {
	border: 7px inset #ff4d00;
}

body {
	background-image: url("../images/concreteWall.png");
	/* credit to http://bg.siteorigin.com/ for this bg image */
}

.grid-container > div { /*use this syntax to override parent div's sstyle*/
	display: inline-grid;
	grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto; /*26 columns*/
	grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
	grid-gap: 0px;
	background-color: #443737;
	padding: 0px;
}

.spacer {
	width:1%;
}

.grid-item {
	border: 1px solid rgba(117, 211, 255, .3);
	height: 31px;
	padding: 7.5pt;
	text-align: center;
	font-size: 8px;
}

.clock {
    float: inherit;
    margin: 0 40px 0 0;
}
