div#top {
	height: 100px;
	background-color: red;
}
<<<<<<< HEAD
.left{
	height: 200px;
	width: 25%;
	display: inline-block;
	background-color:green;

}
.right{
	height: 200px;
	width: 75%;
	display: inline-block;
	background-color: yellow;
}
=======
>>>>>>> 5a86d4de5eac4af6639cdbeb5dc1ba50912133de
