div#top {
	height: 100px;
	background-color: red;
}


#bottom{
	width: 100%;
	height: vh;
	display: flex;
}

.left{
	height: 200px;
	width: 25%;
	background-color:green;

}
.right{
	height: 500px;
	width: 75%;

	background-color: yellow;
}

.clock {
    float: inherit;
    margin: 0 40px 0 0;
}
